<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nuls.transaction.db.h2.dao.impl.mapper.TransactionMapper">

    <update id="createTable" parameterType="String">
        CREATE TABLE IF NOT EXISTS ${tableName} (
            ADDRESS VARCHAR(40) not null
            primary key,
            HASH    VARCHAR(70) not null,
            TYPE    TINYINT     not null,
            AMOUNT  BIGINT      not null,
            STATE   TINYINT     not null,
            TIME    BIGINT      not null
        );
        create index IF NOT EXISTS ${indexName}
        on ${tableName} (ADDRESS);
    </update>

    <update id="createTxTables" parameterType="java.util.List">
        <foreach collection="list" item="tx" separator=";">
            CREATE TABLE IF NOT EXISTS ${tx.tableName} (
            id int(11) NOT NULL primary key auto_increment,
            address VARCHAR(40) not null,
            hash    VARCHAR(70) not null,
            type    TINYINT     not null,
            amount  BIGINT      not null,
            state   TINYINT     not null,
            time   BIGINT      not null
            );
            create index IF NOT EXISTS ${tx.indexName}
            on ${tx.tableName} (address, time, type);
        </foreach>
    </update>

    <insert id="save">
      insert into ${tableName} (address, hash, `type`, amount, state, `time`)
        values
        (#{txPo.address}, #{txPo.hash}, #{txPo.type}, #{txPo.amount}, #{txPo.state}, #{txPo.time})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into ${tableName} (address, hash, `type`, amount, state, `time`)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.address}, #{item.hash}, #{item.type}, #{item.amount}, #{item.state}, #{item.time})
        </foreach>
    </insert>
</mapper>